html {
    margin: 0;
    padding: 0;
    background-color: #5db9ff;
    scroll-snap-type: y proximity;
}

section {
    scroll-snap-align: start;
    height: 100vh;
}

.container {
    overflow-y: auto;
    white-space: nowrap;
    padding: 10px;
    background-color: yellow;
    margin-top: 5%;
    width: 100%;
    box-shadow: -4px 6px black;
}

.div1 {
    border: solid black;
    border-width: 1px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    padding: 10px 12px;

}


#Name {
    text-align: left;
    float: right;
    margin-right: 150px;
    margin-top: -89px;
    border-color: black;
    
}

#Submit {
    float: right;
    margin-right: 320px;
    margin-top: -89px;
    width: 100px;
    background-color: yellow;
}

#Submit:hover {
    background-color: white;
    border-color: black;
    color: black;
    transition: 0.5s;
}

#exit {
    float: right;
    margin-right: 40px;
    margin-top: -89px;
    width: 100px;
    background-color: yellow;
}

#exit:hover {
    background-color: white;
    border-color: black;
    transition: 0.5s;
}

.Pimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Details {
    border: solid black;
    background-color: yellow;
    display: inline-block;
    text-align: center;
    width: 400px;
    height: 280px;
    justify-content: center;
    margin-left: 750px;

}

.NameP {
    font-size: 2rem;
    margin-top: -10px;
}

#Sprite {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    z-index: 2;
}

.title {
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    text-decoration: underline;
}

.SideBar {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: white;
   overflow: hidden;
   padding-top: 60px;
   box-shadow: 4px 0 black;
   background-color:  #5db9ff;
}

.ContainerP {
    display: block;
    flex-wrap: wrap;
}

.ContainerP .box {
    border: 1px solid black;
    margin: 10px;
    width: 120px;
    height: 120px;
    margin-left: 50px;
    background-color: white;
    box-shadow: 0 0 0 4px black;
}

.SideBar.open {
    width: 250px;
}

.CloseButton {
    margin-left: 190px;
    margin-top: 10px;
    color: black;
    background-color: yellow;
    cursor: pointer;
    font-size: large;
    border-color: yellow;
}

.CloseButton:hover {
    background-color: white;
    color: black;
    border-color: white;
}

#remove {
    float: left;
    z-index: 1;
    margin-left: 10px;
    margin-top: -38px;
    cursor: pointer;
    font-size: large;
    background-color: yellow;
    border-color: yellow;
}

#remove:hover {
    background-color: white;
    color: black;
    border-color: white;
}

#Slay {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: yellow;
}
#Slay:hover {
    background-color: white;
}

#Add {
    margin-left: 750px;
    width: 21%;
    background-color: black;
    border-color: black;
    color: yellow;
}

#Pik {
    max-width: 250px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    z-index: 0;
}


.container1 {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    background-color: yellow;
    box-shadow: 0 0 0 4px yellow;
    position: relative;
}

.div2 {
    border: solid black;
    border-width: 1px;
    text-align: center;
    margin: 5px;
    z-index: 1;
    position: relative;

}

.details1 {
    background-color: rgb(163, 161, 161);
    border: 1px solid black;
    border-radius: 8px;
    top: 0;
    left: 0;
    z-index: 2;

}

.dropdown {
    display: inline-block;
}

.dropdown button{
    margin-top: 50px;
    cursor: pointer;
    background-color: yellow;
    font-size: 25px;
    box-shadow: 0px 4px black;
}

.dropdown button:hover {
    box-shadow: none;
}

.dropdown a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;

}

#one {
    background-color: white;
    width: 110px;
}

#one:hover {
    background-color: yellow;
    text-decoration: underline;
}

#two {
    background-color: lightblue;
}
#two:hover {
    background-color: yellow;
    text-decoration: underline;
}


#three{
    background-color: lightpink;
}
#three:hover {
    background-color: yellow;
    text-decoration: underline;
}

#four{
    background-color: orange;
}
#four:hover {
    background-color: yellow;
    text-decoration: underline;
}

#five{
    background-color: lightgreen;
}
#five:hover {
    background-color: yellow;
    text-decoration: underline;
}


.dropdown .cont {
    display: none;
    position: absolute;
    background-color: white;
    min-height: 100px;
    box-shadow: 2px 2px 5px black;
    z-index: 3;
    
}

.dropdown:hover .cont {
    display: block;
}