html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #5db9ff;
}

.container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    background-color: yellow;
    margin-top: 5%;
    width: 100%;
}

.div1 {
    border: solid black;
    border-width: 1px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    padding: 10px 12px;

}


#Name {
    text-align: left;
    
}

.Pimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Details {
    border: solid black;
    display: inline-block;
    text-align: center;
    width: 400px;
    justify-content: center;
    display: none;
    margin-left: 750px;

}

.NameP {
    font-size: 2rem;
}

#Sprite {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.title {
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    text-decoration: underline;
}
