html {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #5db9ff;
}

.container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px;
    background-color: yellow;
    margin-top: 5%;
    width: 100%;
}

.div1 {
    border: solid black;
    border-width: 1px;
    display: inline-block;
    text-align: center;
    margin-right: 10px;
    padding: 10px 12px;

}


#Name {
    text-align: left;
    float: right;
    margin-right: 150px;
    margin-top: -89px;
    border-color: black;
    
}

#Submit {
    float: right;
    margin-right: 320px;
    margin-top: -89px;
    width: 100px;
    background-color: yellow;
}

#Submit:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}

#exit {
    float: right;
    margin-right: 40px;
    margin-top: -89px;
    width: 100px;
    background-color: yellow;
}

.Pimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#Details {
    border: solid black;
    display: inline-block;
    text-align: center;
    width: 400px;
    justify-content: center;
    display: none;
    margin-left: 750px;

}

.NameP {
    font-size: 2rem;
}

#Sprite {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}



.title {
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    text-decoration: underline;
}

.SideBar {
   height: 100%;
   width: 0;
   position: fixed;
   z-index: 1;
   top: 0;
   left: 0;
   background-color: white;
   overflow: hidden;
   padding-top: 60px;
   box-shadow: 4px 0 black;
   background-color:  #5db9ff;
}

.ContainerP {
    display: block;
    flex-wrap: wrap;

}

.ContainerP .box {
    border: 1px solid black;
    margin: 10px;
    width: 120px;
    height: 120px;
    margin-left: 50px;
    background-color: white;
    box-shadow: 0 0 0 4px grey;
}

.SideBar.open {
    width: 250px;
}

.CloseButton {
    margin-left: 10px;
    margin-top: 10px;
    color: black;
    background-color: red;
    cursor: pointer;
    font-size: large;
    border-color: red;
}

.CloseButton:hover {
    background-color: yellow;
    color: black;
    border-color: yellow;
}

#remove {
    float: left;
    z-index: 1;
    margin-left: 80px;
    margin-top: -38px;
    cursor: pointer;
    font-size: large;
    background-color: red;
    border-color: red;
}

#remove:hover {
    background-color: yellow;
    color: black;
    border-color: yellow;
}

#Slay {
    float: left;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    background-color: yellow;
}
#Slay:hover {
    background-color: white;
}

#Add {
    margin-left: 750px;
    width: 21%;
    background-color: black;
    border-color: black;
    color: yellow;
}